{{ partial "header.html" . }}
{{ $baseurl := .Site.BaseURL }}
<article class="p-article">
  <header>
    <h1>{{ .Title | markdownify }}</h1>
    <div>
      <div class="c-time">
        Posted on
        <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
          {{ .Date.Format "Jan 2, 2006" }}
        </time>
      </div>
      <p{{ if in .Params.releases "unreleased" }} class="unreleased"{{ end }}>
        In releases:
        {{ range .Params.releases }}
        <a href="{{ $baseurl }}releases/{{ . | urlize }}" class="c-tag">{{ . }}</a>
        {{ end }}
      </p>
    </div>
  </header>
  {{ with .Params.thumbnail }}
    <img src="{{ . }}" alt="thumbnail" class="p-article__thumbnail">
  {{ end }}
  <section id="js-article" class="p-article__body">
    {{ partial "list-tickets.html" . }}
    {{ .Content }}
  </section>
  <footer>
    {{ partial "related.html" . }}
    {{ partial "siteinfo.html" . }}
  </footer>
</article>
{{ partial "footer.html" . }}
