  </main>
  {{ partial "menu.html" . }}
  <footer class="l-footer">
    <p class="p-copyright">
      &copy; <a href="">Dansk Supermarked Group</a>
      &nbsp;&bull;&nbsp;
      {{ .Site.LastChange.Format "2006" }}
    </p>
    {{ with .Site.Params.repositoryURL }}
    <p class="p-copyright">
      Released under the <a href="{{ . }}">Apache License, Version 2.0</a>
    </p>
    {{ end }}
  </footer>
</body>
</html>
