{{ if .RSSLink }}
<link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}"/>
<link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}"/>
{{ end }}
<style>
h1 code,
h2 code,
h3 code,
h4 code,
h5 code,
h6 code {
  font-size: 0.9em;
}
figure.centered {
  text-align: center;
}
figure.centered > img {
  display: block;
  margin: 1rem auto;
}
.unreleased {
  background-color: #ffd500;
}
</style>
