{{ partial "header.html" . }}
{{/*
Find the latest release.

The "unreleased" term sorts last lexicographically (for now). Sort all release
terms alphabetically, take the last two, and ignore "unreleased". Apparently
there is no other way to do something like this.
*/}}
{{ $releases := $.Site.GetPage "taxonomyTerm" "releases" }}
{{ range last 2 $releases.Data.Terms.Alphabetical }}
{{ if ne .Term "unreleased" }}
<h2 style="text-align:center"><a href="{{ "/releases/" | relLangURL }}{{ .Name | urlize }}"><b>Current version: {{ .Name }}</a></b></h2>
{{ end }}
{{ end }}
<p>Here we publish the <strong>release notes for</strong> development on the <strong>hybris 5</strong>-powered DSG sites:</p>
<ul>
  <li><a href="https://www.bilka.dk">Bilka</a></li>
  <li><a href="https://www.foetex.dk">føtex</a></li>
</ul>
<p>You can <b><a href="{{ "/releases/index.xml" | relLangURL }}" type="application/rss+xml">subscribe to new release announcements</a></b> with an RSS reader!</p>
<h3>Give us feedback!</h3>
<p>Do you see something you like? Something you dislike? Talk to us; stop by our office or drop us an email at <a href="mailto:dgc@dsg.dk">dgc@dsg.dk</a>.</p>
{{ partial "siteinfo.html" . }}
{{ partial "footer.html" . }}
