{{ partial "header.html" . }}
<article>
  <div>
    {{ if eq .Data.Term "unreleased" }}
    <h2>Unreleased changes</h2>
    <p class="unreleased">These <em>tentative changes</em> have <em>not been
        released yet</em>,
    nor are they guaranteed included in the <em>next</em> release.</p>
    {{ else }}
    <h1>Release {{ .Title }}</h1>
    <p class="c-article__summary">{{ .Date.Format "January 2, 2006 MST" }}.</p>
    {{ end }}
  </div>
{{ .Content }}
</article>
<div class="mw8 center">
  {{ $section := .Data.Pages }}
  <section class="flex-ns flex-wrap justify-around mt5">
    {{ range $section }}
      <div class="relative w-100  mb4 bg-white">
        {{ partial "change-summary.html" . }}
      </div>
    {{ end }}
  </section>
</div>
{{ partial "siteinfo.html" . }}
{{ partial "footer.html" . }}
