{{ partial "header.html" . }}
{{ $baseurl := .Site.BaseURL | sanitizeURL }}
<section>
  <h2>{{ .Title }}</h2>
  <p>
    <a href="{{ .RSSLink }}" type="application/rss+xml">Subscribe to new release announcements</a>
  </p>
  <ul>
    {{ $data := .Data }}
    {{ range $key, $value := .Data.Terms.Alphabetical.Reverse }}
    <li><a href="{{ $baseurl }}/{{ $data.Plural | urlize }}/{{ $value.Name | urlize }}">{{ $value.Name }}</a>
      {{- if ne $value.Name "unreleased" }} <span class="c-article__summary">(
        {{- ($.Site.GetPage "taxonomyTerm" "releases" $value.Name).Date.Format "Jan 02, 2006" }})</span>
      {{- end }}</li>
    {{- end }}
  </ul>
</section>
{{ partial "footer.html" . }}
