<figure class="centered{{ with .Get "class" }}{{ . }}{{ end }}">
  <a href="{{ "img" | absLangURL }}/{{ .Get "src" }}">
    <img src="{{ "img" | absLangURL }}/{{ .Get "src" }}"
         alt="{{ .Get "alt" }}"
         title="{{ .Get "alt" }}" />
  </a>
  <figcaption>
    <h4>{{ .Get "alt" | markdownify }}</h4>
  </figcaption>
</figure>
